{% extends "base.html" %}
{% block title %}
Home Page
{% endblock title %}
{% block main %}
<div class="text-center pt-5">
    <h1 class="display-4">Home Page</h1>
    <p class="lead text-muted">Supporting Multiple Languages In Django</p>
    <p>
        <a href="https://djangobat.com/blog/tao-tuy-chon-nhieu-ngon-ngu-cho-trang/" class="btn btn-success my-2">Blog</a>
        <a href="https://github.com/djangobat/django-multi-lanugage.git" class="btn btn-secondary my-2"><i class="fab fa-github"></i> Code Github</a>
    </p>
</div>
{% endblock main %}